case-study/purchasing/Purchasing/types/BPELTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.example.com/tosca/Types/Moodle" xmlns="http://www.example.com/tosca/Types/Moodle">
  <xs:complexType name="tBPELProperties">
    <xs:sequence>
      <xs:element default="." name="Process" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Process</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BPELProperties" type="tBPELProperties"/>
</xs:schema>
