case-study/func-process/AdderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AdderService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://AdderService.wsdl" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://AdderService.wsdl" xmlns:ns2="http://ws.apache.org/axis2">
   <wsdl:types>
      <xs:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
         <xs:element name="add">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="param0" type="xs:int"/>
                  <xs:element minOccurs="0" name="param1" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="addRequest">
      <wsdl:part name="parameters" element="ns2:add"/>
   </wsdl:message>
   <wsdl:message name="addResponse">
      <wsdl:part name="parameters" element="ns2:addResponse"/>
   </wsdl:message>
   <wsdl:portType name="AdderServicePortType">
      <wsdl:operation name="add">
         <wsdl:input message="ns0:addRequest" wsaw:Action="urn:add"/>
         <wsdl:output message="ns0:addResponse" wsaw:Action="urn:addResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="AdderServiceSOAP11Binding" type="ns0:AdderServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="add">
         <soap:operation soapAction="urn:add" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="AdderServiceSOAP12Binding" type="ns0:AdderServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="add">
         <soap12:operation soapAction="urn:add" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="AdderServiceHttpBinding" type="ns0:AdderServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="add">
         <http:operation location="AdderService/add"/>
         <wsdl:input>
            <mime:content type="text/xml" part="add"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="add"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AdderService">
      <wsdl:port name="AdderServiceSOAP11port_http" binding="ns0:AdderServiceSOAP11Binding">
         <soap:address location="http://localhost:8080/ode/processes/AdderService"/>
      </wsdl:port>
      <wsdl:port name="AdderServiceSOAP12port_http" binding="ns0:AdderServiceSOAP12Binding">
         <soap12:address location="http://localhost:8080/ode/processes/AdderService"/>
      </wsdl:port>
      <wsdl:port name="AdderServiceHttpport" binding="ns0:AdderServiceHttpBinding">
         <http:address location="http://localhost:8080/ode/processes/AdderService"/>
      </wsdl:port>
   </wsdl:service>
    <plink:partnerLinkType name="AdderServicePartnerlinkType">
        <plink:role name="adderRole" portType="ns0:AdderServicePortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>
