case-study/func-process/MultiplierService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MultiplierService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://MultiplierService.wsdl" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://MultiplierService.wsdl" xmlns:ns2="http://ws.apache.org/axis2">
   <wsdl:types>
      <xs:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
         <xs:element name="multiply">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="param0" type="xs:int"/>
                  <xs:element minOccurs="0" name="param1" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="multiplyResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="multiplyRequest">
      <wsdl:part name="parameters" element="ns2:multiply"/>
   </wsdl:message>
   <wsdl:message name="multiplyResponse">
      <wsdl:part name="parameters" element="ns2:multiplyResponse"/>
   </wsdl:message>
   <wsdl:portType name="MultiplierServicePortType">
      <wsdl:operation name="multiply">
         <wsdl:input message="ns0:multiplyRequest" wsaw:Action="urn:multiply"/>
         <wsdl:output message="ns0:multiplyResponse" wsaw:Action="urn:multiplyResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MultiplierServiceSOAP11Binding" type="ns0:MultiplierServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="multiply">
         <soap:operation soapAction="urn:multiply" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MultiplierServiceSOAP12Binding" type="ns0:MultiplierServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="multiply">
         <soap12:operation soapAction="urn:multiply" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MultiplierServiceHttpBinding" type="ns0:MultiplierServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="multiply">
         <http:operation location="MultiplierService/multiply"/>
         <wsdl:input>
            <mime:content type="text/xml" part="multiply"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="multiply"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MultiplierService">
      <wsdl:port name="MultiplierServiceSOAP11port_http" binding="ns0:MultiplierServiceSOAP11Binding">
         <soap:address location="http://localhost:8080/ode/processes/MultiplierService"/>
      </wsdl:port>
      <wsdl:port name="MultiplierServiceSOAP12port_http" binding="ns0:MultiplierServiceSOAP12Binding">
         <soap12:address location="http://localhost:8080/ode/processes/MultiplierService"/>
      </wsdl:port>
      <wsdl:port name="MultiplierServiceHttpport" binding="ns0:MultiplierServiceHttpBinding">
         <http:address location="http://localhost:8080/ode/processes/MultiplierService"/>
      </wsdl:port>
   </wsdl:service>
    <plink:partnerLinkType name="MultiplierServicePartnerlinkType">
        <plink:role name="multiplierRole" portType="ns0:MultiplierServicePortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>
