case-study/func-process/SquareService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SquareService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://SquareService.wsdl" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://SquareService.wsdl" xmlns:ns2="http://ws.apache.org/axis2">
   <wsdl:types>
      <xs:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
         <xs:element name="square">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="param0" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="squareResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="squareRequest">
      <wsdl:part name="parameters" element="ns2:square"/>
   </wsdl:message>
   <wsdl:message name="squareResponse">
      <wsdl:part name="parameters" element="ns2:squareResponse"/>
   </wsdl:message>
   <wsdl:portType name="SquareServicePortType">
      <wsdl:operation name="square">
         <wsdl:input message="ns0:squareRequest" wsaw:Action="urn:square"/>
         <wsdl:output message="ns0:squareResponse" wsaw:Action="urn:squareResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SquareServiceSOAP11Binding" type="ns0:SquareServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="square">
         <soap:operation soapAction="urn:square" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SquareServiceSOAP12Binding" type="ns0:SquareServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="square">
         <soap12:operation soapAction="urn:square" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SquareServiceHttpBinding" type="ns0:SquareServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="square">
         <http:operation location="SquareService/square"/>
         <wsdl:input>
            <mime:content type="text/xml" part="square"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="square"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SquareService">
      <wsdl:port name="SquareServiceSOAP11port_http" binding="ns0:SquareServiceSOAP11Binding">
         <soap:address location="http://localhost:8080/ode/processes/SquareService"/>
      </wsdl:port>
      <wsdl:port name="SquareServiceSOAP12port_http" binding="ns0:SquareServiceSOAP12Binding">
         <soap12:address location="http://localhost:8080/ode/processes/SquareService"/>
      </wsdl:port>
      <wsdl:port name="SquareServiceHttpport" binding="ns0:SquareServiceHttpBinding">
         <http:address location="http://localhost:8080/ode/processes/SquareService"/>
      </wsdl:port>
   </wsdl:service>
    <plink:partnerLinkType name="SquareServicePartnerlinkType">
        <plink:role name="squareRole" portType="ns0:SquareServicePortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>
